@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

body {
  font-family: "Inter", "DM Sans", sans-serif;
}

.font-display {
  font-family: "Syne", sans-serif;
}

.font-dm {
  font-family: "DM Sans", "Inter", sans-serif;
}
.font-inter {
  font-family: "Inter", "DM Sans", sans-serif;
}
.duration-400 {
  transition-duration: 400ms;
}